<p>Olá <strong>{{user.name}}</strong></p>
<br />
<p>
  Você solicitou a recuperação da sua senha, segue abaixo link para altera-lá.
</p>
<br />
<p>
  <a chref="{{ link }}" target="_blank" rel="noopener noreferrer">Alterar minha senha</a>
</p>
<br />

<p>
  Token válido por uma hora.
</p>
