<p>Olá <strong>{{user.name}}</strong></p>
<br />
<p>Confirme a sua conta para usar nossa plataforma.</p>
<br />
<p>Clique no link abaixar para ativá-la.</p>
<br />
<a chref="{{ link }}" target="_blank" rel="noopener noreferrer">Alterar minha senha</a>
